@font-face {
    font-family: 'Horror';
    src: url('../assets/CFNightmarePERSONAL-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

#horrorscope {
    width: 100%;
    z-index: -666;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    text-align: center;
    position: relative;
}

form input[type=text] {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    border: none;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 1px 1px #000;
    width: 56%;
    padding: 0 6px;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

form input[type=submit] {
    position: fixed;
    font-size: 1.1em;
    color: #7f1e18;
    background: rgba(255, 255, 255, .7);
    border: 1px solid #7f1e18;
    font-family: 'Horror';
    padding: 0 12px;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
}

body {
    background: #000;
}

.error {
    color: #fff;
    text-align: center;
    position: fixed;
    top: 65%;
    width: 100%;
}
